
.bannerPictureContainer{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://cdn.leonardo.ai/users/0c69facd-62e0-49d3-99fe-148352145ba8/generations/2a4ce4be-7aa4-4ab1-a36b-10fc9d43f286/DreamShaper_v7_futuristic_library_with_old_books_ebokks_and_co_2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-radius: 10px;
    background-color: #dad7cd;
    box-shadow: 10px 13px 23px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 13px 23px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 13px 23px -7px rgba(0,0,0,0.75);
   
}

.bannerTitle{
    color: antiquewhite;
    text-align: center;
    padding: 200px;
    font-size: 60px;
}

.bannerSubtitle{
    color: antiquewhite;
    text-align: center;
    font-size: 40px;
}



.detailProductContainer{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
   
}

h1{
    text-align: center;
}

.productoDetalleTitulo{
    text-align: center;
}

.productoDetalleContainer{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease;
}

.productoDetalleContainer:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}



.counterContainer{
   
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.productoContainer{

    margin: 30px;
    
    
}

.buttonVerLibro{
    text-decoration: none;
    background-color: lightblue;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    color: black;
    
}

.bannerContainer{
    margin-top: 100px;
}

.carritoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 400ms ease;
    
}

.carritoContainer img{
    display: flex;
    justify-content: center;
    
}

.carrtitoProductContainer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carritoTotalCompra{
    text-align: center;
}

.checkoutButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vaciarCarritoButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkoutContainer{
    margin-top: 100px;
   
}

.checkoutForm{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
}

.checkoutName {
    margin: 10px;
    padding: 20px;

}

.checkoutMail{
    margin: 10px;
    padding: 20px;
}

.checkoutTel{
    margin: 10px;
    padding: 20px;

}

.pedidoId{
    text-align: center;
    font-size: 20px;
}








