.detailProductContainer{
    margin-top: 200px;
    background-color: #dad7cd;
}

.productListContainer{
    margin-top: 150px;
   
   
    
}

.itemListTitleContainer{
    text-align: center;
}

.productListTag{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    
   
}

